$themes: (
  light: ( // 背景颜色
    fill_1: rgba(255, 255, 255, 1), // 页面背景色
    fill_2: rgba(47, 84, 235, 1), // 主色调
    fill_3: rgba(236, 238, 241, 1), // 伪类竖线背景色，参考logo 后面
    fill_4: rgba(47, 84, 235, .1),
    fill_5: rgba(241, 241, 245, 1), // 灰色背景， 参考编辑页面背景色,组件背景色,日期组件弹出左面板

    //文字，边框等颜色
    color_1: rgba(255, 255, 255, 1),
    color_2: rgba(47, 84, 235, 1),
    color_3: rgba(236, 238, 241, 1), // 伪类竖线背景色，参考logo 后面
    color_4: rgba(47, 84, 235, .1),
    color_5: rgba(28, 37, 54, .3), //浅色，禁用
    color_6: rgba(28, 37, 54, 1), //全局通用黑色文字

    // box-shadow
    shadow_1: 0px 4px 8px 0px rgba(47, 84, 235, 0.2),
    shadow_2: 0px 0px 8px 0px rgba(28, 37, 54, 0.05), // 参考插入数据源展开
    shadow_3: 0px 0px 8px 0px rgba(234, 235, 238, 1), // 参考中间内容区
    shadow_4: 0px 0px 20px 0px rgba(14, 28, 58, 0.1), // 参考日期组件阴影
    shadow_5: 0px 0px 18px 0px rgba(47, 84, 235, 0.6)
    
  ),

  red: ( // 背景颜色
    fill_1: rgba(255, 255, 255, 1), // 页面背景色
    fill_2: rgba(165, 29, 33, 1), // 主色调
    fill_3: rgba(236, 238, 241, 1), // 伪类竖线背景色，参考logo 后面
    fill_4: rgba(47, 84, 235, .1),
    fill_5: rgba(241, 241, 245, 1), // 灰色背景， 参考编辑页面背景色,组件背景色,日期组件弹出左面板

    //文字，边框等颜色
    color_1: rgba(255, 255, 255, 1),
    color_2: rgba(165, 29, 33, 1),
    color_3: rgba(236, 238, 241, 1), // 伪类竖线背景色，参考logo 后面
    color_4: rgba(47, 84, 235, .1),
    color_5: rgba(28, 37, 54, .3), //浅色，禁用
    color_6: rgba(28, 37, 54, 1), //全局通用黑色文字

    // box-shadow
    shadow_1: 0px 4px 8px 0px rgba(47, 84, 235, 0.2),
    shadow_2: 0px 0px 8px 0px rgba(28, 37, 54, 0.05), // 参考插入数据源展开
    shadow_3: 0px 0px 8px 0px rgba(234, 235, 238, 1), // 参考中间内容区
    shadow_4: 0px 0px 20px 0px rgba(14, 28, 58, 0.1), // 参考日期组件阴影
    shadow_5: 0px 0px 18px 0px rgba(47, 84, 235, 0.6)
  )
)
